@using Orgchart.Web.Infrastructure
@model IEnumerable<Orgchart.Web.Models.Department>

@{
    ViewBag.Title = "Departments";
}

<h2>Departments</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.Label("Parent department")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @{
                string parent_name;
                if (item.ParentDepartment != null)
                {
                    parent_name = item.ParentDepartment.Name;
                }
                else
                {
                    parent_name = "n/a";
                }
            }
            @Html.Label(parent_name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.DepartmentId }) |
            @Html.ActionLink("Details", "Details", new { id=item.DepartmentId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.DepartmentId })
        </td>
    </tr>
}

</table>
